:root {
    --block-size: 24px;
    --wx: 10;
    --wy: 10;

    --block-padding: 2px;
    --half-block-padding: calc(var(--block-padding) / 2);
}

.gameboard {
    width: calc(var(--block-size) * var(--wx) + var(--block-padding) * (var(--wx) - 1));
    height: calc(var(--block-size) * var(--wy) + var(--block-padding) * (var(--wy) - 1));

    display: flex;
    flex-direction: column;

    background-color: black;
    --default-color: darkblue;
}

.element {
    background-color: var(--color, var(--default-color, transparent));


    width: calc(var(--block-size));
    height: calc(var(--block-size));
    margin: var(--half-block-padding);

    position: relative;
}

.element[style]:not([style=""]) {
    
    width: calc(var(--block-size) - var(--half-block-padding));
    height: calc(var(--block-size) - var(--half-block-padding));
    margin-right: var(--block-padding);
    margin-bottom: var(--block-padding);
}

.gameboard .element[style]:not([style=""])::before {
    z-index: -1;
}

.element[style]:not([style=""])::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: calc(var(--block-size) + var(--half-block-padding));
    height: calc(var(--block-size) + var(--half-block-padding));

    background-color: orange;
}

.row {
    display: flex;
    flex-direction: row;
}