:root {
    --block-size: 48px;
    --wx: 10;
    --wy: 10;

    --block-padding: 5px;
    --half-block-padding: calc(var(--block-padding) / 2);
}

.gameboard {
    width: calc(var(--block-size) * var(--wx) + var(--block-padding) * (var(--wx) - 1));
    height: calc(var(--block-size) * var(--wy) + var(--block-padding) * (var(--wy) - 1));

    display: flex;
    flex-direction: column;

    background-color: transparent;
    --default-color: darkblue;
    position: relative;
}

.element {
    background-color: var(--color, var(--default-color, transparent));


    width: calc(var(--block-size));
    height: calc(var(--block-size));
    margin: var(--half-block-padding);

    position: relative;
}

.element[style]:not([style=""]) {
    width: calc(var(--block-size) - var(--block-padding));
    height: calc(var(--block-size) - var(--block-padding));
    margin-right: calc(var(--block-padding) + var(--half-block-padding));
    margin-bottom: calc(var(--block-padding) + var(--half-block-padding));
}

.gameboard .element[style]:not([style=""])::after {
    z-index: -1;
}

.element[style]:not([style=""])::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: calc(var(--block-size) + var(--half-block-padding) / 2);
    height: calc(var(--block-size) + var(--half-block-padding) / 2);

    background-color: hsl(0, 100%, 82%);
    /*rgb(255, 161, 161)*/
}

.row {
    display: flex;
    flex-direction: row;
}